extends layout

block content
  link(rel='stylesheet', href='/stylesheets/nav-search.css')

  .container.container-fluid
    .row
      form#custom-search-form.pull-right
        .form-inline
          input.form-control.search-query(type='text', placeholder='搜索')
          button.btn(type='submit')
          i.glyphicon.glyphicon-search


    .category
      ul.nav.nav-pills
        li.active
          a(href="#")="分类1"
        li
          a(href="#")="分类2"
        li
          a(href="#")="分类3"

    hr

    .course-detail
      .row
        .col-lg-6.thumbnail
          .col-lg-3
            a(href='#')
            img.img-responsive(src='http://img0.ph.126.net/Dthr8ucuZKDnLKgWx_SdUA==/6630657647863293228.png', alt='')
          .description.col-lg-3
            h3="hello"
        .col-lg-6.thumbnail
          .col-lg-3
            a(href='#')
            img.img-responsive(src='http://img0.ph.126.net/Dthr8ucuZKDnLKgWx_SdUA==/6630657647863293228.png', alt='')
          .description.col-lg-3
            h3="hello"

      hr

      .row
        .col-lg-6.thumbnail
          .col-lg-3
            a(href='#')
            img.img-responsive(src='http://img0.ph.126.net/Dthr8ucuZKDnLKgWx_SdUA==/6630657647863293228.png', alt='')
        .col-lg-6.thumbnail
          .col-lg-3
            a(href='#')
            img.img-responsive(src='http://img0.ph.126.net/Dthr8ucuZKDnLKgWx_SdUA==/6630657647863293228.png', alt='')

      hr
