extends layout

block content
  link(rel='stylesheet', href='/stylesheets/nav-search.css')
  link(rel='stylesheet', href='/stylesheets/index.css')


  .container.container-fluid
    .row
      form#custom-search-form.pull-right(action="/search",method="get")
        .form-inline
          input.form-control.search-query(type='text',name="query",placeholder='搜索',value='#{query}')
          button.btn(type='submit')
          i.glyphicon.glyphicon-search

    .category
      ul.nav.nav-pills
        li
          a(data-toggle='pill', href='#menu1') 基础学科
        li
          a(data-toggle='pill', href='#menu2') 经管历史
        li
          a(data-toggle='pill', href='#menu3') 文学艺术

      .tab-content
        #menu1.tab-pane.fade

          ul.nav.nav-pills
            li
              a(data-toggle='pill', href='#menu1-1') 语文
            li
              a(data-toggle='pill', href='#menu1-2') 数学
            li
              a(data-toggle='pill', href='#menu1-3') 英语
          .tab-content
            #menu1-1.tab-pane.fade

            #menu1-2.tab-pane.fade

            #menu1-3.tab-pane.fade

        #menu2.tab-pane.fade

        #menu3.tab-pane.fade


    hr

    #page-content.container.container-fluid
      mixin course-item(name,index,description)
        .col-lg-6
          a.thumbnail(href="courses/#{index}")
            .row
              img.col-lg-4.col-xs-4(height="100px" src="http://imgsize.ph.126.net/?enlarge=true&imgurl=http://img2.ph.126.net/-z6Ldz9KwPgshEdq6rQ2iw==/6608750978190047825.jpg_387x218x1x95.png")
              .col-lg-8col-xs-8
                .course-name
                  h3= name
                .description
                  h4= description


      each course in courses
        +course-item(course.name,course.id,course.description)

    hr

    .text-center
      ul#pagination.pagination(totalPages="#{totalPages}")


  script(src="components/twbs-pagination/jquery.twbsPagination.js")
  script(src="js/home.js")
