extends layout

block content
  link(rel='stylesheet', href='/stylesheets/nav-search.css')
  link(rel='stylesheet', href='/stylesheets/index.css')

  .container.container-fluid
    .row
      form#custom-search-form.pull-right
        .form-inline
          input.form-control.search-query(type='text', placeholder='搜索')
          button.btn(type='submit')
          i.glyphicon.glyphicon-search


    .category
      ul.nav.nav-pills
        li.active
          a(href="#")="分类1"
        li
          a(href="#")="分类2"
        li
          a(href="#")="分类3"

    hr

    .course-detail
      .row
        .col-lg-6
          a.thumbnail(href="#")
            .row
              img.col-lg-3(height="100px" src="http://imgsize.ph.126.net/?enlarge=true&imgurl=http://img2.ph.126.net/-z6Ldz9KwPgshEdq6rQ2iw==/6608750978190047825.jpg_387x218x1x95.png")
              .col-lg-6
                .course-name
                  h3="英语"
                .description
                  h4="This is an English course"

        .col-lg-6
          a.thumbnail(href="#")
            .row
              img.col-lg-3(height="100px" src="http://imgsize.ph.126.net/?enlarge=true&imgurl=http://img2.ph.126.net/-z6Ldz9KwPgshEdq6rQ2iw==/6608750978190047825.jpg_387x218x1x95.png")
              .col-lg-6
                .course-name
                  h3="英语"
                .description
                  h4="This is an English course"


      .row
        .col-lg-6
          a.thumbnail(href="#")
            .row
              img.col-lg-3(height="100px" src="http://imgsize.ph.126.net/?enlarge=true&imgurl=http://img2.ph.126.net/-z6Ldz9KwPgshEdq6rQ2iw==/6608750978190047825.jpg_387x218x1x95.png")
              .col-lg-6
                .course-name
                  h3="英语"
                .description
                  h4="This is an English course"
        .col-lg-6
          a.thumbnail(href="#")
            .row
              img.col-lg-3(height="100px" src="http://imgsize.ph.126.net/?enlarge=true&imgurl=http://img2.ph.126.net/-z6Ldz9KwPgshEdq6rQ2iw==/6608750978190047825.jpg_387x218x1x95.png")
              .col-lg-6
                .course-name
                  h3="英语"
                .description
                  h4="This is an English course"
