extends ../layout

block head
  link(rel='stylesheet', href='/stylesheets/teacher-profile.css')
  link(rel='stylesheet', href='/stylesheets/nav-search.css')
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .container
    .text-center
      h1 我的课程
    .row
      form#custom-search-form.pull-right(action='/management/courses')
        .form-inline
          input.form-control.search-query(type='text', name='search', placeholder='搜索', value='#{search}')#search
          button.btn.btn-default(type='button')
            i.glyphicon.glyphicon-search
    #content.center-block
      each course in courses
        .panel.panel-default.item
          .panel-body.course-list
            a(href='/courses/#{course.id}').course
              h4(style='display: inline') #{course.dataValues.name}
            button.btn.btn-danger.col-xs-1.col-xs-push-10.delete(value='#{course.dataValues.id}', data-toggle='modal', data-target='deleteModal') 删除
    #addCourse.text-center
      a.add(href='/management/courses/new')
        span.glyphicon.glyphicon-plus-sign
        | 新增课程
    .text-center
      ul#pagination.pagination(totalPages="#{totalPages}")
    button#pageCount.hidden(type="button") #{pageCount}
    #deleteModal.modal.fade(role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            h4 确定要删除吗？
          .modal-footer
            button#delete.btn.btn-default(type='button') 删除
            button#cancle.btn.btn-default(type='button', data-dismiss="modal") 放弃
block foot
  script(src="/components/twbs-pagination/jquery.twbsPagination.min.js")
  script(src='/js/teacher/management.js')
